.map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    height: auto;
    overflow-y: auto; 
    max-height: 100%; 
  }

  .menu-button {
    background-color: transparent;
    max-width: 20vmin;
    margin: auto;
    position: absolute;
    top: 65%;
    left: 45%;
    transform: translate(-50%, -50%);
  }
  
  ion-menu-button {
    position: absolute;
    top: 3rem;
    right: 1rem;
    height: 15vmin;
    width: 18vmin;
    --background: #a3612c;
    --border-radius: 50%;
  }

  ion-modal ion-content {
  --overflow: auto;
}


  ion-modal {

    h3 {
      text-align: center;
    }
        ion-button {
        --background: #a2612c;
        --box-shadow: none;
        --color: #000000;
        margin: 1rem 0 0 3rem;
        --border-radius: 5px;
        text-transform: uppercase;
        width: 70%;
    }
  }
  
  @media (min-width: 800px) {
    ion-menu-button {
      position: absolute;
      top: 5.5rem;
      right: 2rem;
      height: 16vmin;
      width: 18%;
    }
  }
  
  @media (min-width: 1024px) {
    ion-menu-button {
      position: absolute;
      top: 5.5rem;
      right: 8rem;
      height: 16vmin;
      width: 18%;
    }
  }
  