ion-button {
    position: absolute;
    top: 2.8rem;
    left: 12rem;
    height: 18vmin;
    width: 20%;
    color: #ffffff;
    --background: #a3612c;
    --border-radius: 50%;
  }
  
  .win-icon {
    filter: invert(100%) sepia(0%) saturate(7452%) hue-rotate(141deg) brightness(115%) contrast(98%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 8vmin;
  }


  @media (min-width: 800px) {
    ion-button {
      position: absolute;
      top: 5rem;
      left: 28rem;
      height: 16vmin;
      width: 18%;
    }
  
  @media (min-width: 1024px) {
    ion-button {
      position: absolute;
      top: 5rem;
      left: 30rem;
      height: 16vmin;
      width: 18%;
    }
  
    p {
      width: 90%;
    }
  }
  }
