ion-button {
    position: absolute;
    top: 2.7rem;
    left: 17rem;
    height: 13vmin;
    width: 13vmin;
    color: #ffffff;
    --background: #a3612c;
    --border-radius: 50%;
  }
  
  .win-icon {
    filter: invert(100%) sepia(0%) saturate(7452%) hue-rotate(141deg) brightness(115%) contrast(98%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media (min-width: 360px) {
    ion-button {
      position: absolute;
      left: 65vmin;
      height: 13vmin;
      width: 13vmin;
    }
  }

  @media (min-width: 800px) {
    ion-button {
      position: absolute;
      height: 13vmin;
      width: 13vmin;
    }
  
  @media (min-width: 1024px) {
    ion-button {
      position: absolute;
      left: 30rem;
      height: 13vmin;
      width: 13vmin;
    }
  
    p {
      width: 90%;
    }
  }
  }
