<ion-content id="main-content" scroll-y="true">
  <ion-menu-button>
    <img src="assets/menu.png" alt="menu icon" class="menu-button">
  </ion-menu-button>

  <app-back-button></app-back-button>

  <div class="container" *ngIf="dataLoad">
    <h1>Popis lokacije</h1>
    <ion-list lines="none">
      <ng-container *ngFor="let location of locations">
        <ion-item>
          <p>{{ location.name }}</p>
        </ion-item>

        <ion-card  (click)="showOnMap(location.geoPoint)">
          <ng-container>
            <img src="assets/menu.png" alt="menu icon" class="card-image">
            <p>
              Lokacija na karti
            </p>
          </ng-container>
        </ion-card>
      </ng-container>
    </ion-list>
  </div>
</ion-content>
