<ion-content id="main-content" scroll-y="true">
  <ion-menu-button>
    <img src="assets/menu.png" alt="menu icon" class="menu-button">
  </ion-menu-button>

  <app-back-button></app-back-button>

  <div class="container top_space" *ngIf="dataLoad">
    <h1>Popis lokacije</h1>
    <ion-list lines="none">
      <ng-container *ngFor="let content of categories">
        
        <ion-card  (click)="openContent(content.content_id)">
          <ng-container>
            <img src="assets/menu.png" alt="menu icon" class="card-image">
              <p>{{ content.content_name }}</p>
          </ng-container>
        </ion-card>
      </ng-container>
    </ion-list>
  </div>
</ion-content>
