<footer>
  <a 
  (click)="back()" 
  [ngClass]="{'active-nav': currentPage === 'back', 'disabled': !canGoBack}" 
  [class.disabled]="!canGoBack" 
  [attr.aria-disabled]="!canGoBack"
  >
    <img src="assets/noun-back-7194797.png" alt="back arrow icon">
  </a>
  <a (click)="home()" [ngClass]="{'active-nav': currentPage === 'home'}">
    <img src="assets/noun-home-7194848.png" alt="home icon">
  </a>
  <a (click)="toLocation()" [ngClass]="{'active-nav': currentPage === 'location'}">
    <img src="assets/noun-pin-7194850.png" alt="location icon">
  </a>
</footer>
