ion-content {
  --background: url('/assets/app-naslovna.jpg') 0 0/100% 100% no-repeat;
}

.game-container {
  background-color: white;
  border-radius: 50px 50px 0px 0px;
  width: 100%;
  max-height: 70vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  overflow-y: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2rem 3rem 10rem;
  box-shadow: 0px -5px 15px 0px rgba(0,0,0,0.75);
}

.ios .top_space {
  margin-top: 40px;
}

h1 {
  font-size: 2rem;
  color: #a3622a;
  font-weight: 900;
}

.quiz-over-title {
  font-size: 2rem;
  color: #a3622a;
  font-weight: 900;
  text-align: center;
}

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-bottom: 6rem;
}

h2 {
  font-size: 1.1rem;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 2rem;
}

ion-button, 
ion-card {
width: 80vmin;
height: 10vmin;
margin: 0.5rem;
display: flex;
justify-content: flex-start;
align-items: center;
--background: #a3622a;
--color: white;
font-size: 1rem;
font-weight: 900;
--box-shadow: none;
}

.quiz-over {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}


.card-image {
  width: 15%;
  padding-top: 0.7rem;
  background-color: #7f460d;
  position: absolute;
  left: -0.5rem;
}

p, .play-again {
  margin-left: 3rem;
  flex-grow: 1;
  text-align: left;
  text-transform: none; 
}

.rezultat {
  margin: 1rem;
}


.option-text,
.play-again {
  font-size: 1rem;
}

.play-again {
  text-indent: 4rem;
}

.option-button {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-align: right;
}

.menu-button {
  background-color: transparent;
  max-width: 20vmin;
  margin: auto;
  position: absolute;
  top: 65%;
  left: 45%;
  transform: translate(-50%, -50%);
}

ion-menu-button {
  position: absolute;
  top: 3rem;
  right: 1rem;
  height: 18vmin;
  width: 20%;
  --background: #a3612c;
  --border-radius: 50%;
}

//media query 
@media (min-width: 360px) {

  h2 {
    font-size: 1rem;
  }

  ion-menu-button {
    position: absolute;
    top: 3rem;
    right: 1rem;
  }
}

//media query 
@media (min-width: 360px) {
  .container {
    padding: 0rem 3rem 6rem;
    font-size: 0.8rem
  }

  .img {
    max-width: 100%;
    height: 50vmin;
  }

  ion-menu-button {
    position: absolute;
    top: 3rem;
    right: 1rem;
  }
}

@media (min-width: 800px) {
  ion-menu-button {
    position: absolute;
    top: 5.5rem;
    right: 2rem;
    height: 16vmin;
    width: 18%;
  }

  .option-text {
    font-size: 1rem;
    margin: 0 7rem;
  }

  .play-again {
    text-indent: 8rem;
  }

}

@media (min-width: 1024px) {
  ion-menu-button {
    position: absolute;
    top: 5.5rem;
    right: 8rem;
    height: 16vmin;
    width: 18%;
  }
  
  .play-again {
    text-indent: 10rem;
  }

  option-text {
    font-size: 3rem;
    text-align: center;
  }

  ion-button {
    width: 30vmin;
  }

  .card-image {
    width: 25%;
    right: 1rem;
  }
}

