ion-content {
    --background: rgb(42, 155, 5);
}

.game-container {
    background-color: white;
    border-radius: 50px 50px 0px 0px;
    width: 100%;
    height: 150vmin;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    overflow-y: auto;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  ion-title {
    position: absolute;
    top: 3rem;
    font-size: 2rem;
    color: #a3622a;
    font-weight: 900;
  }

.question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

h2 {
    font-size: 1.1rem;
    width: 90%;
    margin: 0 auto;
}

ion-button {
  width: 100%;
  height: 10vmin;
  margin: 0.5rem 0;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  --background: #a3622a;
  --color: white;
  font-weight: 900;
  --box-shadow: none;
}

.quiz-over {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.restartBtn {
    width: 50%;
}

.menu-button {
    background-color: transparent;
    max-width: 20vmin;
    margin: auto;
  }
  
ion-menu-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 18vmin;
    width: 20%;
    --background: #a3612c;
    --border-radius: 50%;
}

.logotipi {
  max-width: 100%;
  max-height: 100vmin;
  position: absolute;
  bottom: 0;
}
