ion-card {
    width: 90%;
    height: 10vmin;
    margin: 0.5rem auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #a3622a;
    color: white;
  }

  .card-image {
    width: 15%;
    padding-top: 1rem;
    background-color: #7f460d;
  }
  
  p {
    font-size: 1rem;
    text-indent: 0.5rem;
  }

  .exit-menu {
    background-color: #81450f;
    display: flex;
    justify-content: center;
    align-items: center;
  }

   //media queries
@media (min-width: 800px) {
  .conteiner {
    width: 100%;
  }

  .card-image {
    width: 20%;
    padding-top: 1rem;
    background-color: #7f460d;
  }
}

@media (min-width: 1024px) {
  .conteiner {
    width: 100%;
  }

  .card-image {
    width: 30%;
    padding-top: 1rem;
    background-color: #7f460d;
  }
}
