<ion-app>

  <ion-split-pane when="false" contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" side="start" color="primary" class="ion-no-padding">
      <ion-content class="ion-no-padding container">
        <div class="container">

          <ion-menu-toggle style="text-align: center;">
            <img src="assets/dabar.jpg" alt="dabar">

              <ion-card *ngFor="let category of categories" (click)="openCategory(category.content_name)">
                <ng-container *ngIf="dataLoad">
                  <img src="assets/menu.png" alt="menu icon" class="card-image">
                </ng-container>
                <p>{{ category.content_name }}</p>
              </ion-card>

            <ion-card class="exit-menu">
              <p>Zatvori meni</p>
            </ion-card>

          </ion-menu-toggle>
 
         </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
