<ion-content id="main-content" scroll-y="true">
  
  <ion-menu-button>
    <img src="assets/menu.png" alt="menu icon" class="menu-button">
  </ion-menu-button>

  <ion-button class="map-button" (click)="openMap()">
    <img src="assets/white-map-pin.png" alt="map logo">
  </ion-button>
  
  <app-back-button></app-back-button>
  <app-nagrada-btn></app-nagrada-btn>

  <div class="container top_space" *ngIf="dataLoad">
    <h1>Posjećene lokacije</h1>

    <div class="location-numbers">
      <div class="location-num-container">
        <h2 class="ukupan-broj-lokacija">Ukupni broj lokacija:</h2>
        <p class="location-number">{{ categories.length }}</p>
      </div>
    

    <div class="location-num-container">
      <h2 class="ukupan-broj-lokacija">Ukupan broj posjećenih lokacija:</h2> 
      <p class="location-number total">{{ visitedLocations.length }}</p>
    </div>
    
    </div>

    <h2>Posjećene lokacije:</h2>
    <p *ngIf="visitedLocations.length === 0" class="info-text">
      Prilikom posjeta lokaciji potrebno je potvrditi dolazak na lokaciju putem gumba 
      <strong>"Potvrdi lokaciju"</strong> na ekranu sa detaljima lokacije.
    </p>
    <ol>
      <li *ngFor="let location of visitedLocations">
        <ion-card>
          <ng-container>
            <img src="assets/menu.png" alt="menu icon" class="card-image">
            <p>
              {{ location }}
            </p>
          </ng-container>
        </ion-card>
      </li>
    </ol>
    
    </div>

    <div class="nagrada-container" *ngIf="showNagrada">
      <div class="nagrada" *ngIf="dataLoad && visitedLocations.length === categories.length">
        <ion-button (click)="closeNagrada()" class="close-button">X</ion-button>
        <h1 class="nagrada-title">Čestitamo!</h1>
        <p class="nagrada-text">
          <strong class="visitedAll">
            Posjetili ste sve lokacije!
          </strong>
          <br>
         Za preuzimanje nagrade javite se u Muzej Ivanić-Grada 
         <br>
         <span class="contacts">
          <a href="tel:0993258437">
            <ion-icon name="call-outline"></ion-icon>
            099 325 84 37
          </a>
          
         <br>
         <a href="mailto:info@muzejivanicgrada.hr" target="_blank">
          <ion-icon name="mail-outline"></ion-icon>
          info&#64;muzejivanicgrada.hr
         </a>
    
        <br>
        <a href="https://www.facebook.com/muzejivanicgrada/" target="_blank">
          <ion-icon name="logo-facebook"></ion-icon>
          https://www.facebook.com/muzejivanicgrada/
        </a>
        
        <br>
        <a href="https://www.instagram.com/muzej.ivanic.grada/" target="_blank">
          <ion-icon name="logo-instagram"></ion-icon>
          https://www.instagram.com/muzej.ivanic.grada/
        </a>
        
         </span>   
        </p>
      </div>
    </div>
    

    

</ion-content>
