ion-content {
  --background: url('/assets/app-naslovna.jpg') 0 0/100% 100% no-repeat;
  }
  
  .container {
    background-color: white;
    border-radius: 50px 50px 0px 0px;
    width: 100%;
    max-height: 70vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2rem 3rem 10rem;
    box-shadow: 0px -5px 15px 0px rgba(0,0,0,0.75);
  }

  .ios .top_space {
    margin-top: 40px;
  }

  h1 {
    font-size: 1.5rem;
    color: #a3622a;
    font-weight: 900;
    text-align: center;
  }
  
  ion-button {
  width: 100%;
  height: 10vmin;
  margin: 0.5rem 0;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  --background: #a3622a;
  --color: white;
  font-weight: 900;
  --box-shadow: none;
  }
  
  .menu-button {
    background-color: transparent;
    max-width: 20vmin;
    margin: auto;
    position: absolute;
    top: 65%;
    left: 45%;
    transform: translate(-50%, -50%);
  }
  
  ion-menu-button {
    position: absolute;
    top: 3rem;
    right: 1rem;
    height: 18vmin;
    width: 20%;
    --background: #a3612c;
    --border-radius: 50%;
  }

  img {
    max-width: 100%;
    height: auto;
  }

   //media query 
@media (min-width: 360px) {
  .container {
    padding: 0rem 3rem 6rem;
    font-size: 0.8rem
  }

  .img {
    max-width: 100%;
    height: 50vmin;
  }

  ion-menu-button {
    position: absolute;
    top: 3rem;
    right: 1rem;
  }
}

@media (min-width: 800px) {
  ion-menu-button {
    position: absolute;
    top: 5.5rem;
    right: 2rem;
    height: 16vmin;
    width: 18%;
  }
}

@media (min-width: 1024px) {
  ion-menu-button {
    position: absolute;
    top: 5.5rem;
    right: 8rem;
    height: 16vmin;
    width: 18%;
  }

  p {
    max-width: 90%;
    text-align: center;
    word-wrap: break-word;
  }
}


