ion-content {
  --background: url('/assets/app-naslovna.jpg') 0 0/100% 100% no-repeat;
  }
  
  .container {
    background-color: white;
    border-radius: 50px 50px 0px 0px;
    width: 100%;
    min-height: 150vmin;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    overflow-y: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2rem 3rem 10rem;;
  }
  
  ion-button {
  width: 100%;
  height: 10vmin;
  margin: 0.5rem 0;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  --background: #a3622a;
  --color: white;
  font-weight: 900;
  --box-shadow: none;
  }
  
  .menu-button {
    background-color: transparent;
    max-width: 20vmin;
    margin: auto;
  }
  
  ion-menu-button {
    position: absolute;
    top: 3rem;
    right: 1rem;
    height: 18vmin;
    width: 20%;
    --background: #a3612c;
    --border-radius: 50%;
  }
  
  .logotipi {
    max-width: 100%;
    height: auto;
    position: relative;
    margin-top: 2rem;
    z-index: 10;
  }
  

  img {
    max-width: 100%;
    height: auto;
  }

   //media query 
@media (min-width: 360px) {
  .container {
    padding: 0rem 3rem 6rem;
    font-size: 0.8rem
  }

  .img {
    max-width: 100%;
    height: 50vmin;
  }

  ion-menu-button {
    position: absolute;
    top: 3rem;
    right: 1rem;
  }
}

