<ion-content class="ion-padding">
 <!--<app-cached-image [src]="url_example"></app-cached-image>-->
<div class="container">

  <ion-menu-button>
    <img src="assets/menu.png" alt="menu icon" class="menu-button">
  </ion-menu-button> 

  <div class="categories-container" *ngIf="dataLoad">
    <ion-card  *ngFor="let category of categories" (click)="openCategory(category.content_name)">
      <ng-container>
        <img src="assets/menu.png" alt="menu icon" class="card-image">
        <p>
          {{ category.content_name }}
        </p>
      </ng-container>
    </ion-card>
  </div>
  
  

  
</div>
</ion-content>
