<ion-content class="ion-padding">
<div class="container">

  <ion-menu-button>
    <img src="assets/menu.png" alt="menu icon" class="menu-button">
  </ion-menu-button> 
  
  <ion-card>
    <ng-container>
      <img src="assets/menu.png" alt="menu icon" class="card-image">
    </ng-container>
    <p>Upoznajte dabrove</p>
  </ion-card>

  <ion-card (click)="openLocationListPage()">
    <ng-container>
      <img src="assets/menu.png" alt="menu icon" class="card-image">
    </ng-container>
    <p>Popis lokacija</p>
  </ion-card>

  <ion-card (click)="openLocationPage()">
    <ng-container>
      <img src="assets/menu.png" alt="menu icon" class="card-image">
    </ng-container>
    <p>Lokacije na karti</p>
  </ion-card>

  <ion-card (click)="openAddPicturePage()">
    <ng-container>
      <img src="assets/menu.png" alt="menu icon" class="card-image">
    </ng-container>
    <p>Pošalji sliku ili lokaciju</p>
  </ion-card>

  <ion-card (click)="openQuizPage()">
    <ng-container>
      <img src="assets/menu.png" alt="menu icon" class="card-image">
    </ng-container>
    <p>Provjeri znanje</p>
  </ion-card>

  <ion-card (click)="openTextPage()">
    <ng-container>
      <img src="assets/menu.png" alt="menu icon" class="card-image">
    </ng-container>
    <p>Poveznice</p>
  </ion-card>

</div>
</ion-content>
