ion-content {
  --background: url('/assets/app-naslovna.jpg') 0 0/100% 100% no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.ios .top_space {
  margin-top: 40px;
}

.categories-container {
  margin-top: 5rem;
}

ion-card {
  width: 100%;
  height: 10vmin;
  margin: 0.5rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #a3622a;
  color: white;
  padding: 1.5rem 0;
}

.card-image {
  width: 18%;
  padding-top: 1rem;
  background-color: #7f460d;
  position: relative;
  right: 0.5rem;
}

.logotipi {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0.5rem;
  margin-top: 2rem;
  background-color: white;
  width: 110vmin;
  overflow: hidden;
}

.logotipi-img {
  height: auto;
  width: auto;
  max-height: 12vmin;
  max-width: 12vmin;
}


p {
  font-size: 1.2rem;
  flex-grow: 1;
  text-align: left;
  text-transform: none;
}

.menu-button {
  background-color: transparent;
  max-width: 20vmin;
  margin: auto;
  position: absolute;
  top: 65%;
  left: 45%;
  transform: translate(-50%, -50%);
}

ion-menu-button {
  position: absolute;
  top: 3rem;
  right: 1rem;
  height: 18vmin;
  width: 20%;
  --background: #a3612c;
  --border-radius: 50%;
}

@media (min-width: 800px) {
  ion-menu-button {
    position: absolute;
    top: 3rem;
    right: 2rem;
    height: 16vmin;
    width: 18%;
  }

  .card-image {
    top: 0.5rem;
  }
}

@media (min-width: 1024px) {
  ion-menu-button {
    position: absolute;
    top: 3rem;
    right: 8rem;
    height: 16vmin;
    width: 18%;
  }
}
