ion-content {
  --background: url('/assets/app-naslovna.jpg') 0 0/100% 100% no-repeat;
  }
  
  .container {
    background-color: white;
    border-radius: 50px 50px 0px 0px;
    width: 100%;
    max-height: 70vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    overflow-y: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2rem 3rem 10rem;
    box-shadow: 0px -5px 15px 0px rgba(0,0,0,0.75);
  }

  h1 {
    font-size: 1.5rem;
    color: #a3622a;
    font-weight: 900;
    text-align: center;
  }

  p {
      font-size: 1.4rem;
      flex-grow: 1;
      text-align: left;
      text-align-last: left;
      padding: 0 2.6rem;
      margin: 0.9rem;
      text-transform: none;
      margin-left: 2rem;
    }
  
  ion-button {
    width: 90vmin;
    height: 10vmin;
    margin: 0.5rem 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      --background: #a3622a;
      --color: white;
      text-align: justify;
      text-justify: inter-word;
  }
  
  .menu-button {
    background-color: transparent;
    max-width: 20vmin;
    margin: auto;
    position: absolute;
    top: 65%;
    left: 45%;
    transform: translate(-50%, -50%);
  }
  
  ion-menu-button {
    position: absolute;
    top: 3rem;
    right: 1rem;
    height: 18vmin;
    width: 20%;
    --background: #a3612c;
    --border-radius: 50%;
  }

  .card-image {
    width: 18%;
    padding-top: 1rem;
    background-color: #7f460d;
    position: relative;
    right: 0.5rem;
  }

   //media query 
@media (min-width: 360px) {
  .container {
    padding: 0rem 3rem 6rem;
    font-size: 0.8rem
  }

  .img {
    max-width: 100%;
    height: 50vmin;
  }

  ion-menu-button {
    position: absolute;
    top: 3rem;
    right: 1rem;
  }
  .card-image {
    width: 20%;
    padding-top: 1rem;
    background-color: #7f460d;
    position: absolute;
    left: -1rem;
}

/*p {
  font-size: 0.7rem;
  text-indent: 1.5rem;
  position: relative;
  top: 3px;
  text-transform: none;
  padding: 0 2rem;
}*/

}

@media (min-width: 800px) {
  ion-menu-button {
    position: absolute;
    top: 3rem;
    right: 2rem;
    height: 16vmin;
    width: 18%;
  }

  .card-image {
    width: 10%;
  }
}

@media (min-width: 1024px) {
  ion-menu-button {
    position: absolute;
    top: 3rem;
    right: 8rem;
    height: 16vmin;
    width: 18%;
  }

  p {
    margin: 0 3rem;
  }
}


