ion-content {
  --background: url('/assets/app-naslovna.jpg') 0 0/100% 100% no-repeat;
}

.container {
    background-color: white;
    border-radius: 50px 50px 0px 0px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    overflow-y: auto;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  ion-title {
    position: absolute;
    top: 3rem;
    font-size: 2rem;
    color: #a3622a;
    font-weight: 900;
  }

ion-card {
  width: 80%;
  height: 10vmin;
  margin: 1rem auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #a3622a;
  color: white;
}

.card-image {
  width: 15%;
  padding-top: 1rem;
  background-color: #7f460d;
}

p {
  font-size: 1.2rem;
  text-indent: 1rem;
}

.location-search {
  margin-top: 2rem;
}

ion-label {
  color: #a3622a;
  font-weight: 900;
  width: 20vmin;
  height: 10vmin;
  margin: 3rem;
  padding: 1rem;
  text-align: center;
}

ion-input {
  border: 1px solid #a3622a;
  border-radius: 5px;
  text-align: center;
  width: 80%;
  margin: 1rem auto;
}

.menu-button {
    background-color: transparent;
    max-width: 20vmin;
    margin: auto;
  }
  
ion-menu-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 18vmin;
    width: 20%;
    --background: #a3612c;
    --border-radius: 50%;
}

.buttons-container {
    margin-top: 10rem;
}

.logotipi {
  max-width: 100%;
  height: auto;
  position: relative;
  margin: 1rem auto;
  z-index: 10;
}

//media query 
@media (min-width: 360px) {
  .container {
    padding-bottom: 4rem;
  }

  ion-menu-button {
    position: absolute;
    top: 0rem;
    right: 1rem;
  }
}

@media (min-width: 360px) and (max-height: 640px) {  
  .container {
    padding-bottom: 4rem;
    margin-top: 0;
    height: auto;
  }

  ion-title {
    top: 5rem;
  }

  ion-menu-button {
    position: absolute;
    top: -1rem;
    right: 1rem;
  }
}


@media (min-width: 412px) {
  .container {
    padding-bottom: 4rem;
  }
}
