<ion-content class="ion-padding">
  <ion-menu-button>
    <img src="assets/menu.png" alt="menu icon" class="menu-button">
  </ion-menu-button>

  <app-back-button></app-back-button>

  <div class="container">
    <h1>Pošalji sliku ili lokaciju</h1>

    <ion-label>Upišite izvještaj</ion-label>
    <ion-textarea [(ngModel)]="input_text"></ion-textarea>

    <!-- Clickable field for image selection -->
     <ion-label>Dodavanje slike</ion-label>
    <ion-item class="image-input" (click)="openCamera()" lines="none">
      <img *ngIf="base64" [src]="base64" class="user-image-preview"/>
    </ion-item>

    <ion-card (click)="saveToServer()">
      <ng-container>
        <img src="assets/menu.png" alt="menu icon" class="card-image">
        <p>Unesi izvještaj</p>
      </ng-container>
    </ion-card>
  </div>
</ion-content>
