<ion-header>
  <ion-toolbar>
    <ion-title>Pošalji sliku ili lokaciju</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="full" (click)="takePicture()">Pošalji sliku</ion-button>
  <img *ngIf="imageUrl" [src]="imageUrl" style="width: 100%; height: auto;" />

  <ion-button expand="full" (click)="getLocation()">Pošalji lokaciju</ion-button>
  <p *ngIf="location.lat !== 0">Latitude: {{ location.lat }}, Longitude: {{ location.lng }}</p>
</ion-content>
