ion-content {
  --background: url('/assets/app-naslovna.jpg') 0 0/100% 100% no-repeat;
}

.container {
  background-color: white;
  border-radius: 50px 50px 0px 0px;
  width: 100%;
  min-height: 70vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  overflow-y: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2rem 3rem 10rem;
  margin-top: 10rem;
  box-shadow: 0px -5px 15px 0px rgba(0,0,0,0.75);
}

.ios .top_space {
  margin-top: 40px;
}

  h1 {
    font-size: 1.8rem;
    color: #a3622a;
    font-weight: 900;
  }

  ion-card {
    width: 100%;
    height: 10vmin;
    margin: 1rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #a3622a;
    color: white;
    padding: 1.5rem 0;
  }

  .card-image {
    width: 18%;
    padding-top: 1rem;
    background-color: #7f460d;
    position: relative;
    right: 0.5rem;
  }

  p {
    font-size: 1.4rem;
    text-indent: 0.8rem;
    position: relative;
    top: 3px;
  }

ion-label {
  color: #a3622a;
  font-weight: 900;
  position: relative;
  right: 5rem;
  top: 0rem;
  font-size: 1.2rem;
  margin-top: 1rem;
}

ion-input,
ion-textarea,
.image-input {
  border: 1px solid #a3622a;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
}

ion-textarea {
  height: 15vmin;
  text-align: left;
  text-indent: 1rem;
  --highlight-color-focused: none;
  margin: 0;
}

.image-input {
  height: 30vmin;
  --highlight-color-focused: none;
  margin: 0;
}


.menu-button {
  background-color: transparent;
  max-width: 20vmin;
  margin: auto;
  position: absolute;
  top: 65%;
  left: 45%;
  transform: translate(-50%, -50%);
}

ion-menu-button {
  position: absolute;
  right: 1rem;
  height: 18vmin;
  width: 20%;
  margin-top: 2rem;
  --background: #a3612c;
  --border-radius: 50%;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #a3622a;
  width: 100%;
  min-height: 40vmin;
  max-height: 60vmin;
  overflow: hidden;
}

.user-image-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


//media query 
@media (min-width: 350px) {
  .img-container {
    padding: 2rem;
  }

  .container {
    height: 10vh;
}
.image-input {
  padding: 4rem;
}
ion-label {
  color: #a3622a;
  font-weight: 900;
  position: relative;
  right: 5rem;
  top: 0rem;
  font-size: 1rem;
  margin-top: 1rem;
}

ion-textarea {
  padding-bottom: 3.5rem;
}

h1 {
  font-size: 1.5rem;
}

}
@media (min-width: 800px) {
  ion-menu-button {
    position: absolute;
    top: 3rem;
    right: 2rem;
    height: 16vmin;
    width: 18%;
  }

  .card-image {
    width: 10%;
    padding-top: 1rem;
    background-color: #7f460d;
  }
}

@media (min-width: 1024px) {
  ion-menu-button {
    position: absolute;
    top: 3rem;
    right: 8rem;
    height: 16vmin;
    width: 18%;
  }

  p {
    width: 90%;
  }

  ion-card {
    width: 80%;
  }
}
