<ion-content id="main-content" scroll-y="true">
  
  <ion-menu-button>
    <img src="assets/menu.png" alt="menu icon" class="menu-button">
  </ion-menu-button>

  <ion-button class="map-button" (click)="openMap()">
    <img src="assets/white-map-pin.png" alt="map logo">
  </ion-button>
  
  <app-back-button></app-back-button>
  <app-nagrada-btn></app-nagrada-btn>

  <div class="container top_space" *ngIf="dataLoad && content">
    <h1>{{ content?.content_name }}</h1>
    
    <div class="buttons-container">
      <ng-container *ngIf="content.segments?.length">
        <div *ngFor="let segment of content.segments">
          <h2 *ngIf="segment.segment_title">{{ segment.segment_title }}</h2>
          <p *ngFor="let line of segment.segment_description.split('\n')">{{ line }}</p>
          
          <div *ngIf="segment.images_v2?.length">
            <div *ngFor="let image of segment.images_v2" class="image-container">
              <img [src]="image.full_url" alt="{{ image.description || 'Segment Image' }}" class="img">
              <app-cached-image [src]="image.full_url" class="img"></app-cached-image>
              <p *ngIf="image.multimedia_description" class="img-description">
                {{ image.multimedia_description }}
              </p>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  
</ion-content>
